﻿<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <p>

        </p>
    </div>
    <div class="col-md-3">

    </div>
</div>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>
        <button type="button" class="btn btn-primary btn-sm">Envoyer</button>
        <p style="font-size:small">
            sera envoye a certinergie@certinergie.be, oliv_colin@hotmail.com, jean-marc@certinergie.be, sophie@certinergie.be
        </p>
    </div>
    <div class="col-md-3">

    </div>
</div>