﻿<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top nav-white">
    <div class="container">
        <a class="navbar-brand"><img src="/src/assets/images/Logo.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="far fa-calendar-alt fa-lg"></i>
                        Agenda/visites
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes controles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes biens en vente</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Aide
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Aide Sub menu 1</a>
                        <a class="dropdown-item" href="#">Aide Sub menu 2</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nouvelle commande</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        comptenotaire@not.be
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">

    <!-- .col-lg-3 -->
    <div class="col-lg-3" style="background-color:#f1f5f8;">
        <div class="row" id="clnt-info">
            <div class="col-md-12">
                <p>Nom du client</p>
                <p>Rue des soeur grises 16</p>
                <p>4500 Huy</p>
            </div>
        </div>
        <div class="row" id="bldg-type">
            <div class="col-md-12">
                <div style="background-color:#ffffff">
                    <div class="panel-heading" style="padding: 14px 14px 0px 14px;">
                        <span class="float-right" style="color:#2e87d7"><a href="#" (click)="ShowEditModal()"><i class="fas fa-pen-square fa-lg"></i></a></span>
                        <p class="panel-title">Immueble a appartements vendu de <span style="color:#000000 !important; padding: 3px">gre a gre a</span> 140.00</p>

                    </div>
                    <div class="panel panel-default" style="padding: 0px 14px;">
                        <div class="panel-body" style="padding-bottom:14px">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="clnt-label">Gestionnaire</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="clnt-dtl">Jean-Jacques L.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="clnt-label">Reference</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="clnt-dtl">201710-Bronckaert</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="clnt-label">Statut</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="text-success clnt-dtl">Visites <i class="fas fa-check-circle fa-xs"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="clnt-label">Facturation</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="text-danger clnt-dtl">2 Impayees <i class="fas fa-times-circle fa-xs"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="border-top: 2px solid #f1f5f8;">
                            <div class="row ftr-ico" style="margin:10px 0px; color:#2e87d7; padding-bottom: 8px;">
                                <div class="col-md-3 text-center">
                                    <a href="#">
                                        <span class="fas fa-eye fa-lg"></span>
                                        <span class="ico-modals">Apercu</span>
                                    </a>

                                </div>
                                <div class="col-md-3 text-center">
                                    <a href="#" (click)="ShowMessagesModal()">
                                        <span class="fas fa-comments fa-lg"></span>
                                        <span class="ico-modals">Messages</span>
                                    </a>
                                </div>
                                <div class="col-md-3 text-center">
                                    <a href="#" (click)="ShowNotesModal()">
                                        <span class="fas fa-sticky-note fa-lg"></span>
                                        <span class="ico-modals">Notes</span>
                                    </a>

                                </div>
                                <div class="col-md-3 text-center">
                                    <a href="#" (click)="ShowHistoryModal()">
                                        <span class="fas fa-history fa-lg"></span>
                                        <span class="ico-modals">Historique</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="link-modals" style="padding-top:15px">
            <div class="col-md-12" style="padding-top:6px"><button class="btn btn-block btn-primary text-left" type="button" (click)="ShowEnvoyerModal()"><i style="margin-right:10px" class="fas fa-paper-plane"></i> Envoyer la plaquette virtuelle</button></div>
            <div class="col-md-12" style="padding-top:6px"><button class="btn btn-block btn-primary text-left" type="button" (click)="ShowDocumentModal()"><i style="margin-right:10px" class="fas fa-paperclip"></i> Tous les documents</button></div>
            <div class="col-md-12" style="padding-top:6px"><button class="btn btn-block btn-primary text-left" type="button" (click)="ShowAnnoncesModal()"><i style="margin-right:10px" class="far fa-dot-circle"></i> Annonces</button></div>
        </div>
    </div>
    <!-- /.col-lg-3 -->
    <!-- .col-lg-9 -->
    <div class="col-lg-9">
        <div class="row" style="background-color:#ffffff;">

            <div class="col-md-12">
                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                            <li>
                                <a class="nav-item nav-link active" href="#tab_default_1" data-toggle="tab">
                                    <div class="col-md-12 text-center">
                                        <i class="fas fa-check-circle"></i>
                                        Photos <span class="sr-only">(current)</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="nav-item nav-link" href="#tab_default_2" data-toggle="tab">
                                    Plans & visite virtuelle
                                </a>
                            </li>
                            <li>
                                <a class="nav-item nav-link" href="#tab_default_3" data-toggle="tab">
                                    Controles
                                </a>
                            </li>
                            <li>
                                <a class="nav-item nav-link" href="#tab_default_1" data-toggle="tab">
                                    Affichette
                                </a>
                            </li>
                            <li>
                                <a class="nav-item nav-link" href="#tab_default_2" data-toggle="tab">
                                    Livret
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane active" id="tab_default_1">
                                <div class="row" style="margin:10px 0px 5px 0px; color:#2e87d7">
                                    <a class="dwnld-span" href="#"><i class="fas fa-download fa-lg"></i>   Telecharger tout</a>
                                </div>

                                <div class="row">

                                    <div class="wrapper">

                                        <div class="column">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="column">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="column">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="column">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="column">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="column">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="column">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="column">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="column">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="column">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="column">
                                            <div class="inner"></div>
                                        </div>
                                        <div class="column">
                                            <div class="inner"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="tab_default_2">
                                <p>
                                    Howdy, I'm in Tab 2.
                                </p>
                                <p>
                                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                                </p>
                                <p>
                                    <a class="btn btn-warning" href="http://j.mp/metronictheme" target="_blank">
                                        Click for more features...
                                    </a>
                                </p>
                            </div>
                            <div class="tab-pane" id="tab_default_3">
                                <p>
                                    Howdy, I'm in Tab 3.
                                </p>
                                <p>
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
                                </p>
                                <p>
                                    <a class="btn btn-info" href="http://j.mp/metronictheme" target="_blank">
                                        Learn more...
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <!--<router-outlet></router-outlet>-->
        </div>


    </div>
    <!-- /.col-lg-9 -->
    <!-- Edit Modal -->
    <div class="modal fade bd-example-modal-lg" id="EditModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" style="width:850px">
            <div class="modal-content">
                <div class="modal-header edit-header">
                    <h5 class="modal-title" id="exampleModalLabel">Annuler</h5>
                    <button type="button" class="btn btn-primary btn-lg" style="margin:0px 150px 0px 156px">
                        <i class="fas fa-cloud-upload-alt"></i>
                          Enregistrer les  modifications
                    </button>
                    <button type="button" class="close" (click)="CloseEditModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <client></client>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="CloseEditModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /edit modal -->
    <!-- message modal -->
    <div class="modal fade bd-example-modal-lg" id="MessagesModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Messages</h5>
                    <button type="button" class="close" (click)="CloseMessagesModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <messages></messages>
                </div>
            </div>
        </div>
    </div>
    <!-- /message modal -->
    <!-- notes modal -->
    <div class="modal fade bd-example-modal-lg" id="NotesModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notes / Checklist</h5>
                    <button type="button" class="close" (click)="CloseNotesModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <notes></notes>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="CloseNotesModal()">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /notes modal -->
    <!-- history modal -->
    <div class="modal fade bd-example-modal-lg" id="HistoryModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" (click)="CloseHistoryModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...history
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="CloseHistoryModal()">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /history modal -->
    <!-- envoyer modal -->
    <div class="modal fade bd-example-modal-lg" id="EnvoyerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" (click)="CloseEnvoyerModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <envoyer></envoyer>
                </div>
            </div>
        </div>
    </div>
    <!-- /envoyer modal -->
    <!-- documents modal -->
    <div class="modal fade bd-example-modal-lg" id="DocumentsModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" (click)="CloseDocumentModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    documents
                </div>
            </div>
        </div>
    </div>
    <!-- /documents modal -->
    <!-- annonces modal -->
    <div class="modal fade bd-example-modal-lg" id="AnnoncesModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" (click)="CloseAnnoncesModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <annonces></annonces>
                </div>
            </div>
        </div>
    </div>
    <!-- /annonces modal -->


</div>