﻿<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <label class="control-label">Notarimmo</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">Statut: en ligne</label>
        </div>
        <div class="col-md-2">
            <label class="control-label">18/10/2018</label>
        </div>
        <div class="col-md-2">
            <a href="#"><i class="fas fa-eye fa-lg"></i> copier url</a>
        </div>
        <div class="col-md-2">
            <a href="#">http://www/notarimmo.be/111212</a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-sm-2">
            <label class="control-label">Immo web</label>
        </div>
        <div class="col-sm-2">
            <label class="control-label">Statut: en ligne</label>
        </div>
        <div class="col-sm-2">
            <label class="control-label">18/10/2018</label>
        </div>
        <div class="col-sm-2">
            <a href="#"><i class="fas fa-eye fa-lg"></i> copier url</a>
        </div>
        <div class="col-md-2">
            <a href="#">http://www/notarimmo.be/111212</a>
        </div>
    </div>
</div>